.wp-block-gallery {

    /* Logo grid */
    &.is-style-logo-grid.has-nested-images,
    &.is-style-logo-grid{
        @apply grid gap-8;

        /* Columns */
        &.columns-1{@apply grid-cols-1;}
        &.columns-2{@apply grid-cols-2;}
        &.columns-3{@apply grid-cols-3;}
        &.columns-4{@apply grid-cols-4;}
        &.columns-5{@apply grid-cols-5;}
        &.columns-6{@apply grid-cols-6;}
        &.columns-7{@apply grid-cols-7;}
        &.columns-8{@apply grid-cols-8;}
        &.columns-9{@apply grid-cols-9;}
        &.columns-10{@apply grid-cols-10;}
        &.columns-11{@apply grid-cols-11;}
        &.columns-12{@apply grid-cols-12;}

        /* Image */
        .wp-block-image{
            width: 100% !important;
            margin-right: 0 !important;
            img{
                @apply w-full h-[300px] object-contain mx-auto transition-all;
                max-width: 300px !important;
            }
            a:hover{
                img{
                    @apply opacity-50;
                }
            }
        }
    }
}