body .gform_wrapper.gravity-theme, body{

    --radio_outer: 26px;
    --radio_inner: 14px;
    --radio_inner_placement: 6px;
    --border_width: 2px;

    /* RADIO */
    .gfield_radio{
        .gchoice{
            @apply relative;
        }
    }

    .gfield.gf_list_inline .gfield_radio .gchoice label{
        @apply max-w-[210px];
    }

    [type="radio"] {
        @apply absolute -left-[9999px];
    }
    .facetwp-type-radio .facetwp-radio,
    [type="radio"]:not(:checked) + label,
    [type="radio"]:checked + label {
        @apply relative pt-[1px] cursor-pointer inline-flex text-base flex-wrap mb-2;
        padding-left: calc(var(--radio_outer) + 0.3rem);
        min-height: var(--radio_outer);

        /* Badge background */
        &::before{
            @apply content-[''] absolute left-0 top-0 border-solid border-black bg-white rounded-full;
            border-width: var(--border_width);
            width: var(--radio_outer);
            height: var(--radio_outer);
        }

        /* Badge within */
        &::after{
            @apply content-[''] absolute rounded-full transition-all
            duration-300 bg-primary opacity-0 scale-0;
            width: var(--radio_inner);
            height: var(--radio_inner);
            top: var(--radio_inner_placement);
            left: var(--radio_inner_placement);
        }

    }

    /* Checked */
    .facetwp-type-radio .facetwp-radio.checked,
    [type="radio"]:checked + label {

        &::before{
            @apply border-primary;
        }

        &::after{
            @apply opacity-100 scale-100;
        }
    }

    .facetwp-type-radio{
        @apply flex flex-col;
        .facetwp-radio{
            @apply bg-none;
        }
    }

}