header{
    &.header{
        svg#logo{
            path, rect, polygon{
                fill: var(--wp--preset--color--primary);
            }
        }
        &.scrolled{
            @apply bg-white shadow-lg;
        }   
    }
}

body.home{}



/* MENU */
ul.menu{
    @apply flex;
}
ul.menu, ul.sub-menu{
    li.menu-item{
        @apply py-2 mr-4;

        &:last-of-type{
            @apply mr-0;
        }
        
    }
}

/* DROPDOWN MENU */
ul.menu.dropdown {

    /* Has submenu */
    li.menu-item.menu-item-has-children{
        position: relative;
        display: inline-flex;
        padding-right: calc(25px + 0.5rem);
        &::after {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            width: 25px; height: 25px;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font: var(--fa-font-solid); font-weight: 400; content: "\f078";
        }
        &:hover{
            ul.sub-menu{
                @apply shadow-xl max-h-96;
     
            }
        }
    }


    ul.sub-menu{
        @apply bg-white py-0 overflow-hidden absolute border-t-0 top-full max-h-0 border-transparent transition-all duration-300 left-0 ;
        li.menu-item{
            @apply  text-black  mr-0 py-0 ;
            a{
                @apply block px-6 py-3 whitespace-nowrap hover:text-primary;
                
            }
        }
    }
}
.burger-menu, .burger-menu-close, .burger-menu-mobile { 
    @apply w-7 h-5  flex flex-col justify-between bg-transparent ;
    cursor: pointer;
    span{
        @apply   block w-full h-[2px] ; 
        transition: all .2s ease-in-out;
        &:nth-child(2){
			@apply mx-auto w-full;
        }
    }
    &:hover{
        span{
          
            &:last-of-type{
                width: 100%;
            }
        }
    }
  
    &.close-mode{
        span{
            &:nth-of-type(1){
                @apply rotate-45 translate-y-[9px];
            }
            &:nth-of-type(2){
                width: 0;
            }
            &:last-of-type{
                @apply -rotate-45 -translate-y-[9px] w-full;
            }
        }
    }
}
